/*************** Conteúdo estático ***************/
body {
    overflow-x: hidden;
}

footer{
    color: white;
}

tr:hover{
    background-color: #17a3b838;
}

#main{
    padding: 1em;
    margin-bottom: 4em;
}


/*************** Sidebar ***************/
.sidebar-nav{
    padding: 0;
    list-style: none;
    height: 100%;
}

.sidebar-nav li{
    text-indent: .5rem;
    line-height: 2em;
}
  
.sidebar-nav li label{
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li label:hover{
    text-decoration: none;
    color: rgb(63, 63, 63);
}

.sidebar-title{
    text-align: center;
    padding: 1em;
    background-color: #e9ecef;
}

.black-border{
    border-left: 6px solid rgb(0, 0, 0);
}
.blue-border{
    border-left: 6px solid rgb(9, 157, 255)!important;
}
.yellow-border{
    border-left: 6px solid rgb(235, 199, 0)!important;
}
.red-border{
    border-left: 6px solid rgb(236, 4, 4)!important;
}
.pink-border{
    border-left: 6px solid rgb(243, 47, 155)!important;
}


/*************** Tabela ***************/
.holidays{
    border-left: 1px solid #cccccc; 
    width: 100%;
    text-align: center;
    align-items: center;
}

.table-scroll{
    display: block;
    max-height: 40em;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}